<!DOCTYPE html>
<head>
  <title>LAINTILDE0</title>
  {% if page_name %}
  <link rel="stylesheet" href="{{url_for('static',filename='main_' + page_name + '.css')}}">
  {% else %}
  <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
  {% endif %}
</head>
<h1>{{ site_name }}</h1>
<body>
  <div class="container">
    {%block content%}
    {%endblock%}
  </div>
</body>

{% if page_name == "home" %}
<div style="min-height: 300px;"></div>
<footer>admin: <a href="email:{{ admin_email }}">{{ admin_email }}</a></footer>
{% endif %}
</html>
