{%extends "layout.html"%}

{%block content%}
<p>

  <form action="/req/signup" method="post">
  <table>
    {% for key, value in req_tab.items() %}
    <tr><td>{{ key }}</td><td>

	{%if value.w_type != "choice" %}
	<{{ widg_fun(value) }}></{{value.w_type}}>
	{%elif value.w_type == "choice" %}
	<select id="id_{{value.w_name}}" name="{{value.w_name}}" required="">
	  {% for opt in value.w_opt %}
	  <option value="{{opt[0]}}">{{opt[1]}}</option>
	  {% endfor %}
	</select>
	{% endif %}
    </td></tr>    
    {% endfor %}
    <tr><td><input type="submit" value="sign up"></td></tr>
  </table>
  </form>
</p>

<p>

<p>
A requested feature is to have to allow users to have a unicode username since unicode allows for more interesting aesthics
</br>
If you enter a unicode display name, the system will try to display your unicode name when possbile. It will also be your default in terminal prompt, chat and your tilde path
</br>
the linux os only sees your true ascii username. so your ssh login, file permissions etc will user your true username
</br>
feedback on this feature welcome
</p>

{%endblock%}
