{%extends "main_layout.html"%}

{%block content%}
<p>
  <h3>Rules</h3>
  <ol>
    <li>you must 18 or older to use lingy.in</li>
    <li>since this is multiuser system, show good judgement with the server resources (ie dont start mining crypto)</li>
    <li>don't damage/delete others work</li>
    <li>don't upload child pornography to lingy.in</li>
    <li>don't use lingy.in to distribute malware</li>
    <li>be smart with your data (fwiw, when i use a shared system like this i assume all data i have on the box is effecitvely comprimised)</li>
  </ol>
  </br>
  <h3>some things to consider:</h3>
  <ol>
    <li>relax and try not to take the things others say too seriously.</li>
    <li>no implementation is perfect. so i encourage you to make your own tilde with different rules and designs</li>
    <li>On your first login throw something fun in your index.html even if its just placeholder.</li>
  </ol>
<p>

{%endblock%}
